body {
  background-color: $dark;
  font-family: $montserrat;
  color: $gray;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;

  p {
    font-family: $montserrat;
    margin: 0 0 24px;
    font-size: 18px;
    line-height: 24px;

    &.center {
      position: relative;
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  }

  hr {
    border: .5px solid $gray;
    margin: 24px auto;
    width: 60%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $montserrat;
    line-height: 40px;
    color: $main;
  }

  a {
    color: $gray;

    &:hover, &:active {
      color: $white;
    }
  }

  header {
    background-color: $dark;
    display: block;
    padding: 17px 0;

    @media only screen and (min-width: 60em) {
      padding: 32px 0;
    }

    .title {
      margin-left: 0!important;
      margin-right: 4%!important;

      a {
        width: 151px;
        font-size: 32px;
        line-height: 40px;
        text-align: left;
        height: 40px;
        color: $main;
        opacity: 1;

        &:hover {
          opacity: .6;
        }
      }
    }

    .top-menu {
      position: unset;

      .nav-top {
        display: block;
        margin-right: 0!important;
        width: 56.33%!important;

        @media only screen and (min-width: 45em) {
          width: 39.66%!important;
          margin-left: 2%!important;
        }

        ul {
          display: flex;
          justify-content: space-around;
          position: relative;
          opacity: 1;
          top: unset;
          left: unset;
          list-style: none;
          z-index: 2;
          @include transform(unset);

          li {
            display: inline-block;

            a {
              display: inline-block;
              font-size: 18px;
              line-height: 40px;
              text-align: center;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.bio {
  padding: 60px 0 80px;

  .apresentation {
    max-width: 640px;
    margin: 0 auto;

    .profile {
      position: relative;
      display: inline-block;

      img {
        max-width: 180px;
        margin: 0 auto;
        object-fit: cover;
        width: 100%;
        position: relative;
        display: block;
        @include border-radius(250px);
      }

      &::after {
        content: "";
        background: $dark;
        position: absolute;
        display: inline-block;
        opacity: .25;
        height: 100%;
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
      }
    }

    .hometext {
      text-align: center;
      h2 {
        margin-top: 0;
        margin-bottom: 10px;
        color: $white;

        span {
          color: $main;
        }
      }

      p {
        font-size: 18px;
        line-height: 22px;

        a {
          color: $main;
          opacity: 1;

          &:hover {
            opacity: .6;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 45em) {
    padding: 100px 0 120px;

    .apresentation {
      .profile {
        img {
          max-width: unset;
          display: inline-block;
        }
      }

      .hometext {
        h2 {
          margin-top: 0;
          margin-bottom: 10px;
          color: $white;

          span {
            color: $main;
          }
        }

        p {
          a {
            color: $main;
            opacity: 1;

            &:hover {
              opacity: .6;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 60em) {
    padding: 160px 0 180px;

    .apresentation {
      .profile {
        img {
          max-width: unset;
          display: inline-block;
        }
      }

      .hometext {
        h2 {
          margin-top: 0;
          margin-bottom: 10px;
          color: $white;

          span {
            color: $main;
          }
        }

        p {
          a {
            color: $main;
            opacity: 1;

            &:hover {
              opacity: .6;
            }
          }
        }
      }
    }
  }
}

.post {
  max-width: 640px;
  margin: 0px auto 45px;

  .content {
    width: 100%;
    vertical-align: top;
    position: relative;
    padding: 25px 20px;
    background: darken($dark, 1%);
    @include box-sizing(border-box);
    @include border-radius(5px);

    .imgpost {
      position: relative;
      display: inline-block;
      width: 28%;
      vertical-align: top;
      overflow: hidden;

      &::after {
        content: "";
        display: block;
        padding-top: 100%;
      }

      .imagepost {
        position: absolute;
        max-height: 100%;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
      }
    }

    .descrition {
      display: inline-block;
      margin: 0px 0px 0px 5%;
      width: 67%;

      .titlepost {
        font-weight: 300;
        line-height: 1.4em;
        font-size: 1.4em;
        margin-top: 8px;
        color: $white;
        opacity: 1;
      }

      .categorypost {
        color: $main;
      }

      .datepost {
        color: $gray;
      }

      .categorypost, .datepost {
        font-weight: 400;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: .8em;
        opacity: 1;
      }
    }
  }
}

.blogpost {
  width: 100%;

  .titulo {
    text-align: left;
    color: $white;
    margin: 10px 0;
    font-weight: 600;
    font-size: 26px;
    width: 100%;
  }

  .categorydate {
    display: inline-block;
    margin: 10px 0 20px;
    font-weight: 300;
    font-size: 14px;
    width: 100%;
  }

  img.imagepost {
    max-width: 100%;
    position: relative;
    display: inline-block;
    @include border-radius(5px);
  }

  .article {
    display: inline-block;
    width: 100%;
    position: relative;

    p {
      margin: 0 0 24px;
      font-size: 18px;
      line-height: 24px;
    }

    img {
      max-width: 100%;
    }
  }
}

.formcontato {
  display: inline-block;
  position: relative;
  width: 100%;

  .details {
    position: relative;
    width: 100%;

    input {
      width: 100%;
      color: $white;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      margin: 20px 0;
      font-size: 20px;
      line-height: 20px;
      min-height: 60px;
      padding: 20px 15px;
      border-bottom: 2px solid $main;
      background: darken($dark, 1%);
      @include box-sizing(border-box);

      &:focus {
        border: 0!important;
        box-shadow: unset!important;
        outline: none!important;
        color: $white;
      }

      @media only screen and (min-width: 45em) {
        &.name {
          float: left;
          width: 46%;
          margin-right: 4%;
        }

        &.email {
          float: left;
          width: 46%;
          margin-left: 4%;
        }
      }
    }
  }

  .textarea {
    border-bottom: 2px solid $main;
    margin: 20px 0;

    textarea.text {
      color: $white;
      border: 0;
      width: 100%;
      font-size: 20px;
      line-height: 20px;
      min-width: 100%;
      max-width: 100%;
      min-height: 240px;
      padding: 20px 15px;
      background: darken($dark, 1%);
      @include box-sizing(border-box);

      &:focus {
        border: 0!important;
        box-shadow: unset!important;
        outline: none!important;
        color: $white;
      }
    }
  }

  button.enviar {
    position: relative;
    display: inline-block;
    background: transparent;
    margin: 25px 0;
    padding: 5px 0;
    line-height: 32px;
    font-size: 24px;
    float: right;
    color: $main;
    opacity: 1;
    border: 0;
    @include box-sizing(border-box);

    &:hover {
      cursor: pointer;
      opacity: .6;
    }
  }
}


footer {
  padding: 20px 0;

  .socialfooter {
    justify-content: space-around;
    display: flex;

    .socialfooteritem {
      display: inline-block;
      max-width: 32px;
      max-height: 32px;

      a {
        display: inline-block;
        max-width: 32px;
        max-height: 32px;
        opacity: 1;

        img {
          display: inline-block;
          max-width: 32px;
          max-height: 32px;
          width: 100%;
          height: 100%;
          fill: white;
        }
      }
    }

    &:hover {
      .socialfooteritem {
        a {
          opacity: .6;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  p.copy {
    text-align: center;
    margin: 0;

    .rssicon {
      max-width: 18px;
      max-height: 18px;
    }

    @media only screen and (min-width: 45em) {
      text-align: right;
    }
  }
}
