body {
  background-color: $dark;
  font-family: $montserrat;
  color: $gray;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;

  p {
    font-family: $montserrat;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $montserrat;
    line-height: 40px;
    color: $main;
  }

  a {
    color: $gray;

    &:hover, &:active {
      color: $white;
    }
  }

  header {
    background-color: $dark;
    display: block;
    padding: 17px 0;

    @media only screen and (min-width: 60em) {
      padding: 32px 0;
    }

    .title {
      margin-left: 0!important;
      margin-right: 4%!important;

      a {
        width: 151px;
        font-size: 32px;
        line-height: 40px;
        text-align: left;
        height: 40px;
        color: $main;
        opacity: 1;

        &:hover {
          opacity: .6;
        }
      }
    }

    .top-menu {
      position: unset;

      .nav-top {
        display: block;
        margin-right: 0!important;
        width: 56.33%!important;

        @media only screen and (min-width: 45em) {
          width: 39.66%!important;
          margin-left: 2%!important;
        }

        ul {
          display: flex;
          justify-content: space-around;
          position: relative;
          opacity: 1;
          top: unset;
          left: unset;
          list-style: none;
          z-index: 2;
          @include transform(unset);

          li {
            display: inline-block;

            a {
              display: inline-block;
              font-size: 18px;
              line-height: 40px;
              text-align: center;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.bio {
  padding: 60px 0 80px;

  .apresentation {
    max-width: 640px;
    margin: 0 auto;

    .profile {
      position: relative;
      display: inline-block;

      img {
        max-width: 180px;
        margin: 0 auto;
        object-fit: cover;
        width: 100%;
        position: relative;
        display: block;
        border-radius: 250px;
      }

      &::after {
        content: "";
        background: $dark;
        position: absolute;
        display: inline-block;
        opacity: .25;
        height: 100%;
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
      }
    }

    .hometext {
      text-align: center;
      h2 {
        margin-top: 0;
        margin-bottom: 10px;
        color: $white;

        span {
          color: $main;
        }
      }

      p {
        a {
          color: $main;
          opacity: 1;

          &:hover {
            opacity: .6;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 45em) {
    padding: 100px 0 120px;

    .apresentation {
      .profile {
        img {
          max-width: unset;
          display: inline-block;
        }
      }

      .hometext {
        h2 {
          margin-top: 0;
          margin-bottom: 10px;
          color: $white;

          span {
            color: $main;
          }
        }

        p {
          a {
            color: $main;
            opacity: 1;

            &:hover {
              opacity: .6;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 60em) {
    padding: 160px 0 180px;

    .apresentation {
      .profile {
        img {
          max-width: unset;
          display: inline-block;
        }
      }

      .hometext {
        h2 {
          margin-top: 0;
          margin-bottom: 10px;
          color: $white;

          span {
            color: $main;
          }
        }

        p {
          a {
            color: $main;
            opacity: 1;

            &:hover {
              opacity: .6;
            }
          }
        }
      }
    }
  }
}

.post {
  display: grid;
  justify-items: center;

  .content {
    width: 280px;
    background-color: $dark;
    display: grid;
    padding: 18px 32px;
    margin: 24px 0px;
    @include transition(all .3s ease-in-out);
    @include box-shadow(0px 2px 6px 0px rgba(0,0,0,0.65));
    @include border-radius(12px);

    .categorydate {
      font-weight: 400;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      color: $main;
      opacity: 1;
    }

    .titlepost {
      font-weight: 300;
      line-height: 1.4;
      margin-top: 8px;
      color: $white;
      opacity: 1;
    }

    @media only screen and (min-width: 33.75em) {
      width: 360px;
    }

    @media only screen and (min-width: 45em) {
      width: 500px;
    }

    &:hover {
      opacity: 1;
      @include transform(translateY(-5px));

      .categorydate {
        color: $main;
        opacity: 1;
      }

      .titlepost {
        color: $white;
        opacity: 1;
      }
    }
  }
}

.blogpost {
  .titulo {
    text-align: left;
    color: $white;
    margin: .5rem 0;
    font-weight: 600;
    font-size: 1.6rem;
  }

  .article {
    display: inline-block;
    width: 100%;
    position: relative;

    p {
      margin: 0 0 1.2rem;
      font-size: 1.2rem;
      line-height: 1.6rem;
    }

    img {
      max-width: 100%;
    }
  }
}
