// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Font Variables
$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;

$break-small: 719px;

// Colors
$main:          #FF5757;
$gray:          #8d8d8d;
$white:         #FFFFFF;
$dark:          #1A1A1A;

@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin border-radius ( $value: 3px ) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
    // keeps background from busting out of border
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    -o-transform: $transforms;
    transform: $transforms;
}
